label,
input,
button[type='submit'],
textarea {
	display: block;
}
input,
textarea {
	margin-bottom: 25px;
}

.list-group-item:nth-child(even) {
	background-color: #f9f9f9;
}
.outlined {
	border: 1px solid #8b8b8b;
}
